[Unit]
Description=Minecraft Server

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/home/florianwimbauer/raspMC/OnDevice/boot.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target