[Unit]
Description=Minecraft Server

[Service]
Type=forking
ExecStart=/home/florianwimbauer/raspMC/OnDevice/boot.sh
User=florianwimbauer
Restart=on-failure

[Install]
WantedBy=multi-user.target